In [1]:
from datetime import date
print(date.today())

2024-06-02

### Function with Parameters

In [2]:
def sum(a=10,b=20):
    print("The sum is ", a+b)
sum(b=40,a=90)

The sum is  130

In [3]:
'''Here , as you can see that the order of actual parameters arent necessary, when we pass the values using parameters'''

'Here , as you can see that the order of actual parameters arent necessary, when we pass the values using parameters'

### Function with variable Arguments

#### -Argument as Tuple

In [9]:
def sum(*numbers):
    print(type(numbers))
    sum=0
    for i in numbers:
        sum=sum+i
    print("The sum is :",sum)
sum(1,2,3)
sum(4,5,6,7,8,9)
'''here as we can see the arguments are passed as tuples'''

<class 'tuple'>
The sum is : 6
<class 'tuple'>
The sum is : 39

'here as we can see the arguments are passed as tuples'

#### -Argument as Dictionary

In [13]:
def credentials(**student):
    print(type(student))
    print(student["name"]," ",student["rollno"]," ",student["branch"])
credentials(name="Moinuddin",rollno=148,branch="CSE")

<class 'dict'>
Moinuddin   148   CSE

### Lists

In [22]:
print('Lists are written using [] brackets')
l=[1,2,3]
print(l)
print(type(l))
l=[1,2,3,4,5,6]
print(l)
'''Lists are mutable ie they are changeable after creation ie they are not like string'''

Lists are written using [] brackets
[1, 2, 3]
<class 'list'>
[1, 2, 3, 4, 5, 6]

'Lists are mutable ie they are changeable after creation ie they are not like string'

In [21]:
"""Lists can have the values of different datatypes"""

'Lists can have the values of different datatypes'

In [25]:
student=["Moinuddin",148,"cse3"]
print(student)
if "Moinuddin" in student :
    print("Moinuddin is HERO")
# here we can see the use case of "in" keyword

['Moinuddin', 148, 'cse3']
Moinuddin is HERO

In [35]:
l=["numbers",1,2,3,4,5,"until5"]
print(l)
print(l[:])
print(l[1:])
print(l[1:-1])
# here we can perform all the operations of string on the list 
''' NOW, lets see the jump index concept'''
print(l[::2])

['numbers', 1, 2, 3, 4, 5, 'until5']
['numbers', 1, 2, 3, 4, 5, 'until5']
[1, 2, 3, 4, 5, 'until5']
[1, 2, 3, 4, 5]
['numbers', 2, 4, 'until5']

In [36]:
'''Lets see the List Comprehension'''

'Lets see the List Comprehension'

In [41]:
lst=[i for i in range(11)]
print(lst)
lst=[i for i in range(11) if i%2!=0]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [40]:
st=["A","B","m","Mo"]
ls=[name for name in st if "M" in name]
print(ls)

['Mo']