In [1]:
from datetime import date
print(date.today())

2024-06-04

## Recursion

In [4]:
def fibonacc(a):
    if a==0:
        return 0
    elif a==1:
        return 1
    else:
        return (fibonacc(a-1) + fibonacc(a-2))
ans=fibonacc(10)
print(ans)

55

In [8]:
def fact(a):
    if (a==0 | a==1):
        # here or can be used instead of |
        return 1
    else:
        return (a*fact(a-1))
ans=fact(10)
print(ans)

3628800

### sets

In [6]:
# NO repetition is allowed in sets and is represented using {} braces.
s={1,2,3,4,1,3,4}
print(s,type(s))

{1, 2, 3, 4} <class 'set'>

In [32]:
''' UNordered set of data items and are not changable by index i.e we cant change the value of set[i]=j'''

' UNordered set of data items and are not changable by index i.e we cant change the value of set[i]=j'

In [8]:
for i in s:
    print(i)

1
2
3
4

#### Set Operation

In [24]:
s1={1,2,3}
s2={4,5,6}
print(s2.union(s1))
print(s1, s2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3} {4, 5, 6}

In [12]:
print(s1.intersection(s2))

set()

In [18]:
s3={4,8,12}
print(s3.intersection(s2))

{4}

In [15]:
(s1.update(s2))
print(s1)
s1.update(s3)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 8, 12}

In [25]:
print(s2.symmetric_difference(s3))

s2.intersection_update(s3)
# here the s2 gets updated with only the common values and the remaining values will be deleted.
print(s2)

print(s3.difference(s2))
print(s1.isdisjoint(s3))

{5, 6, 8, 12}
{4}
{8, 12}
True

In [27]:
print(s3.issuperset(s2))
print(s2.issubset(s3))

True
True

In [30]:
s2.add(9)
s2.add(7)
s2.add(10)
print(s2)

{9, 10, 4, 7}

In [31]:
s2.remove(10)
print(s2)

{9, 4, 7}

In [33]:
# To delete the entire cities we can use 'del' Keyword.
del s2
print(s2)

NameError: name 's2' is not defined

In [34]:
# to clear the set we use 'clear()'
s1.clear()
print(s1)

set()

In [37]:
s1={"A",1,"b",2}
print(s1)

{1, 2, 'A', 'b'}

### Dictionary

In [47]:
# Ordered collection of data items from python-3.7
student ={"name":"Moinuddin","roll":148,"branch":"cse","section":3}
print(student)
print(student["name"]) # throws error
print(student.get('name')) # doesnt throw an error

{'name': 'Moinuddin', 'roll': 148, 'branch': 'cse', 'section': 3}
Moinuddin
Moinuddin

In [41]:
# iteration
for i in student.keys():
    print(student[i])

Moinuddin
148
cse
3

In [42]:
print(student)
print(student.keys())
print(student.values())

{'name': 'Moinuddin', 'roll': 148, 'branch': 'cse', 'section': 3}
dict_keys(['name', 'roll', 'branch', 'section'])
dict_values(['Moinuddin', 148, 'cse', 3])

In [43]:
print(student.items())

dict_items([('name', 'Moinuddin'), ('roll', 148), ('branch', 'cse'), ('section', 3)])

In [46]:
for key, value in student.items():
    print(f"{key} is {value}")

name is Moinuddin
roll is 148
branch is cse
section is 3

In [54]:
s1={1:'a',2:'b',3:'c'}
s2={4:'d',5:'e'}
s1.update(s2)
print(s1)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [53]:
s1.clear()
print(s1)

{}

In [55]:
print(s1.popitem())

(5, 'e')

In [57]:
print(s1.pop(1))

a

### for loop with else

In [61]:
for i in range(5):
    print(i)
else:
    print("we can print 5")

0
1
2
3
4
we can print 5

In [63]:
for i in range(5):
    print(i)
    if i==3:
        break
else:
    print("we can print 5")
'''here we can see that the else block isnt executed ,
because else is only executed after for loop completes all its iterations '''

0
1
2
3

'here we can see that the else block isnt executed ,\nbecause else is only executed after for loop completes all its iterations '

In [1]:
for i in range(-5,0):
    print(i)

-5
-4
-3
-2
-1

## Exception

In [5]:
a=int(input("enter a number: "))
try:
    print("The remainder is ",10/a)
except Exception as e:
    print("The exception is : ",e)

enter a number:  0

The exception is :  division by zero

In [12]:
l=[1,2,3,4,56,6]
i=int(input("enter the index"))
try:
    print(f"The value at index-{i} is {l[i]}")
except Exception as e:
    print(e)

enter the index 6

list index out of range

In [15]:
try:
    a=int(input("enter a number: "))
except ValueError:
    print("entered number is not an integer:")

enter a number:  wsdf

entered number is not an integer:

#### Finally keyword

In [17]:
try:
    a=int(input("enter a number: "))
except ValueError:
    print("entered number is not an integer:")
finally:
    print("finally is definitely executed")

enter a number:  A

entered number is not an integer:
finally is definitely executed

In [18]:
l=[1,2,3,4,56,6]
i=int(input("enter the index"))
if i>=6:
    raise IndexError("enter the correct value of index ")

enter the index 6

IndexError: enter the correct value of index

## SingleLine If-Else

In [19]:
a=int(input("enter a: "))
b=int(input("enter b: "))
print("a is greater by ",a-b) if a>b else print("a==b") if a==b else print("b is greater by ",b-a)

enter a:  10
enter b:  100

b is greater by  90