In [10]:
from datetime import date
print(date.today())

2024-06-22

### Reading from a CSV

In [11]:
import pandas as pd

In [20]:
# Try reading the CSV with a different encoding
try:
    df = pd.read_csv("C:\\Users\\DELL\\Downloads\\Compressed\\archive\\Spotifycsv.csv", encoding='latin1')
except UnicodeDecodeError:
    print("Error: UnicodeDecodeError encountered. Trying another encoding...")
    df = pd.read_csv("C:\\Users\\DELL\\Downloads\\Compressed\\archive\\Spotifycsv.csv", encoding='utf-16')

# Printing the data inside the CSV
print(df)

                                Track                        Album Name  \
0                 MILLION DOLLAR BABY      Million Dollar Baby - Single
1                         Not Like Us                       Not Like Us
2          i like the way you kiss me        I like the way you kiss me
3                             Flowers                  Flowers - Single
4                             Houdini                           Houdini
...                               ...                               ...
4595                For the Last Time                 For the Last Time
4596                 Dil Meri Na Sune  Dil Meri Na Sune (From "Genius")
4597            Grace (feat. 42 Dugg)                           My Turn
4598              Nashe Si Chadh Gayi             November Top 10 Songs
4599  Me Acostumbre (feat. Bad Bunny)   Me Acostumbre (feat. Bad Bunny)

              Artist Release Date          ISRC All Time Rank  Track Score  \
0      Tommy Richman    4/26/2024  QM24S2402528             1        725.4
1     Kendrick Lamar   05-04-2024  USUG12400910             2        545.9
2            Artemas    3/19/2024  QZJ842400387             3        538.4
3        Miley Cyrus   01-12-2023  USSM12209777             4        444.9
4             Eminem    5/31/2024  USUG12403398             5        423.3
...              ...          ...           ...           ...          ...
4595     $uicideboy$   09-05-2017  QM8DG1703420         4,585         19.4
4596      Atif Aslam    7/27/2018  INT101800122         4,575         19.4
4597        Lil Baby    2/28/2020  USUG12000043         4,571         19.4
4598    Arijit Singh   11-08-2016  INY091600067         4,591         19.4
4599       Arc¨«¨«   04-11-2017  USB271700107         4,593         19.4

     Spotify Streams Spotify Playlist Count Spotify Playlist Reach  ...  \
0       39,04,70,936                 30,716           19,66,31,588  ...
1       32,37,03,884                 28,113           17,45,97,137  ...
2       60,13,09,283                 54,331           21,16,07,669  ...
3     2,03,12,80,633               2,69,802           13,65,69,078  ...
4       10,70,34,922                  7,223           15,14,69,874  ...
...              ...                    ...                    ...  ...
4595    30,50,49,963                 65,770              51,03,054  ...
4596     5,22,82,360                  4,602              14,49,767  ...
4597    18,99,72,685                 72,066              67,04,802  ...
4598    14,54,67,020                 14,037              73,87,064  ...
4599    25,57,40,653                 32,138            1,40,66,526  ...

      SiriusXM Spins Deezer Playlist Count Deezer Playlist Reach  \
0                684                  62.0           1,75,98,718
1                  3                  67.0           1,04,22,430
2                536                 136.0           3,63,21,847
3              2,182                 264.0           2,46,84,248
4                  1                  82.0           1,76,60,624
...              ...                   ...                   ...
4595             NaN                   2.0                14,217
4596             NaN                   1.0                   927
4597             NaN                   1.0                    74
4598             NaN                   NaN                   NaN
4599             NaN                   4.0              1,27,479

     Amazon Playlist Count Pandora Streams Pandora Track Stations  \
0                    114.0     1,80,04,655                 22,931
1                    111.0       77,80,028                 28,444
2                    172.0       50,22,621                  5,639
3                    210.0    19,02,60,277               2,03,384
4                    105.0       44,93,884                  7,006
...                    ...             ...                    ...
4595                   NaN     2,01,04,066                 13,184
4596                   NaN             NaN                    NaN
4597                   6.0     8,44,26,740                 28,999
4598                   7.0       68,17,840                    NaN
4599                   4.0     6,90,06,739                 11,320

     Soundcloud Streams  Shazam Counts TIDAL Popularity Explicit Track
0             48,18,457      26,69,262              NaN              0
1             66,23,075      11,18,279              NaN              1
2             72,08,651      52,85,340              NaN              0
3                   NaN    1,18,22,942              NaN              0
4              2,07,179       4,57,017              NaN              1
...                 ...            ...              ...            ...
4595        5,06,33,006       6,56,337              NaN              1
4596                NaN       1,93,590              NaN              0
4597                NaN      11,35,998              NaN              1
4598                NaN       4,48,292              NaN              0
4599                NaN       7,67,006              NaN              1

[4600 rows x 29 columns]

In [22]:
df = pd.read_csv("C:\\Users\\DELL\\Downloads\\Compressed\\archive\\Spotifycsv.csv",encoding='latin1')
print(df)

                                Track                        Album Name  \
0                 MILLION DOLLAR BABY      Million Dollar Baby - Single
1                         Not Like Us                       Not Like Us
2          i like the way you kiss me        I like the way you kiss me
3                             Flowers                  Flowers - Single
4                             Houdini                           Houdini
...                               ...                               ...
4595                For the Last Time                 For the Last Time
4596                 Dil Meri Na Sune  Dil Meri Na Sune (From "Genius")
4597            Grace (feat. 42 Dugg)                           My Turn
4598              Nashe Si Chadh Gayi             November Top 10 Songs
4599  Me Acostumbre (feat. Bad Bunny)   Me Acostumbre (feat. Bad Bunny)

              Artist Release Date          ISRC All Time Rank  Track Score  \
0      Tommy Richman    4/26/2024  QM24S2402528             1        725.4
1     Kendrick Lamar   05-04-2024  USUG12400910             2        545.9
2            Artemas    3/19/2024  QZJ842400387             3        538.4
3        Miley Cyrus   01-12-2023  USSM12209777             4        444.9
4             Eminem    5/31/2024  USUG12403398             5        423.3
...              ...          ...           ...           ...          ...
4595     $uicideboy$   09-05-2017  QM8DG1703420         4,585         19.4
4596      Atif Aslam    7/27/2018  INT101800122         4,575         19.4
4597        Lil Baby    2/28/2020  USUG12000043         4,571         19.4
4598    Arijit Singh   11-08-2016  INY091600067         4,591         19.4
4599       Arc¨«¨«   04-11-2017  USB271700107         4,593         19.4

     Spotify Streams Spotify Playlist Count Spotify Playlist Reach  ...  \
0       39,04,70,936                 30,716           19,66,31,588  ...
1       32,37,03,884                 28,113           17,45,97,137  ...
2       60,13,09,283                 54,331           21,16,07,669  ...
3     2,03,12,80,633               2,69,802           13,65,69,078  ...
4       10,70,34,922                  7,223           15,14,69,874  ...
...              ...                    ...                    ...  ...
4595    30,50,49,963                 65,770              51,03,054  ...
4596     5,22,82,360                  4,602              14,49,767  ...
4597    18,99,72,685                 72,066              67,04,802  ...
4598    14,54,67,020                 14,037              73,87,064  ...
4599    25,57,40,653                 32,138            1,40,66,526  ...

      SiriusXM Spins Deezer Playlist Count Deezer Playlist Reach  \
0                684                  62.0           1,75,98,718
1                  3                  67.0           1,04,22,430
2                536                 136.0           3,63,21,847
3              2,182                 264.0           2,46,84,248
4                  1                  82.0           1,76,60,624
...              ...                   ...                   ...
4595             NaN                   2.0                14,217
4596             NaN                   1.0                   927
4597             NaN                   1.0                    74
4598             NaN                   NaN                   NaN
4599             NaN                   4.0              1,27,479

     Amazon Playlist Count Pandora Streams Pandora Track Stations  \
0                    114.0     1,80,04,655                 22,931
1                    111.0       77,80,028                 28,444
2                    172.0       50,22,621                  5,639
3                    210.0    19,02,60,277               2,03,384
4                    105.0       44,93,884                  7,006
...                    ...             ...                    ...
4595                   NaN     2,01,04,066                 13,184
4596                   NaN             NaN                    NaN
4597                   6.0     8,44,26,740                 28,999
4598                   7.0       68,17,840                    NaN
4599                   4.0     6,90,06,739                 11,320

     Soundcloud Streams  Shazam Counts TIDAL Popularity Explicit Track
0             48,18,457      26,69,262              NaN              0
1             66,23,075      11,18,279              NaN              1
2             72,08,651      52,85,340              NaN              0
3                   NaN    1,18,22,942              NaN              0
4              2,07,179       4,57,017              NaN              1
...                 ...            ...              ...            ...
4595        5,06,33,006       6,56,337              NaN              1
4596                NaN       1,93,590              NaN              0
4597                NaN      11,35,998              NaN              1
4598                NaN       4,48,292              NaN              0
4599                NaN       7,67,006              NaN              1

[4600 rows x 29 columns]

In [27]:
dframe=pd.read_csv("C:\\Users\\DELL\\OneDrive\\Desktop\\PdLearn.csv")
print(dframe)

  Student  rollno  Marks
0      s1     120     90
1      s2     121     84
2      s3     122     95
3      s4     123     75
4      s5     124     89
5      s6     125     78
6      s7     126     56
7      s8     127     86
8      s9     128     86
9     s10     129     99

In [28]:
print(dframe.head())

  Student  rollno  Marks
0      s1     120     90
1      s2     121     84
2      s3     122     95
3      s4     123     75
4      s5     124     89

In [29]:
print(dframe.head(3))

  Student  rollno  Marks
0      s1     120     90
1      s2     121     84
2      s3     122     95

In [30]:
print(dframe.tail())

  Student  rollno  Marks
5      s6     125     78
6      s7     126     56
7      s8     127     86
8      s9     128     86
9     s10     129     99

In [31]:
print(dframe.tail(2))

  Student  rollno  Marks
8      s9     128     86
9     s10     129     99

### Reading Excel

In [32]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.4-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.4-py2.py3-none-any.whl (251 kB)
   ---------------------------------------- 0.0/251.4 kB ? eta -:--:--
   ---------------------------------------- 0.0/251.4 kB ? eta -:--:--
   - -------------------------------------- 10.2/251.4 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/251.4 kB 330.3 kB/s eta 0:00:01
   --------- ----------------------------- 61.4/251.4 kB 409.6 kB/s eta 0:00:01
   --------------------- ---------------- 143.4/251.4 kB 774.0 kB/s eta 0:00:01
   ---------------------------------------  245.8/251.4 kB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 251.4/251.4 kB 1.0 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pip in c:\users\dell\appdata\roaming\python\python312\site-packages (24.0)
Collecting pip
  Downloading pip-24.1-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-24.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
    --------------------------------------- 0.0/1.8 MB 325.1 kB/s eta 0:00:06
   - -------------------------------------- 0.1/1.8 MB 465.5 kB/s eta 0:00:04
   --- ------------------------------------ 0.1/1.8 MB 847.9 kB/s eta 0:00:02
   ----- ---------------------------------- 0.2/1.8 MB 1.2 MB/s eta 0:00:02
   ----------- ---------------------------- 0.5/1.8 MB 2.0 MB/s eta 0:00:01
   --------------- ------------------------ 0.7/1.8 MB 2.4 MB/s eta 0:00:01
   --------------- ------------------------ 0.7/1.8 MB 2.4 MB/s eta 0:00:01
   ---------------- ----------------------- 0.7/1.8 MB 1.9 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.8 MB 1.8 MB/s eta 0:00:01
   ----------------- ---------------------- 0.8/1.8 MB 1.8 MB/s eta 0:00:01
   -------------------------- ------------- 1.2/1.8 MB 2.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.4/1.8 MB 2.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.4/1.8 MB 2.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.4/1.8 MB 2.3 MB/s eta 0:00:01
   ---------------------------------- ----- 1.6/1.8 MB 2.1 MB/s eta 0:00:01
   -------------------------------------- - 1.8/1.8 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 2.2 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.0
    Uninstalling pip-24.0:
      Successfully uninstalled pip-24.0
Successfully installed pip-24.1

In [35]:
ed=pd.read_excel("C:\\Users\\DELL\\Downloads\\Compressed\\archive\\Most Streamed Spotify Songs 2024.xlsx")
print(ed)

                                Track                        Album Name  \
0                 MILLION DOLLAR BABY      Million Dollar Baby - Single
1                         Not Like Us                       Not Like Us
2          i like the way you kiss me        I like the way you kiss me
3                             Flowers                  Flowers - Single
4                             Houdini                           Houdini
...                               ...                               ...
4595                For the Last Time                 For the Last Time
4596                 Dil Meri Na Sune  Dil Meri Na Sune (From "Genius")
4597            Grace (feat. 42 Dugg)                           My Turn
4598              Nashe Si Chadh Gayi             November Top 10 Songs
4599  Me Acostumbre (feat. Bad Bunny)   Me Acostumbre (feat. Bad Bunny)

              Artist         Release Date          ISRC  All Time Rank  \
0      Tommy Richman            4/26/2024  QM24S2402528              1
1     Kendrick Lamar  2024-04-05 00:00:00  USUG12400910              2
2            Artemas            3/19/2024  QZJ842400387              3
3        Miley Cyrus  2023-12-01 00:00:00  USSM12209777              4
4             Eminem            5/31/2024  USUG12403398              5
...              ...                  ...           ...            ...
4595     $uicideboy$  2017-05-09 00:00:00  QM8DG1703420           4585
4596      Atif Aslam            7/27/2018  INT101800122           4575
4597        Lil Baby            2/28/2020  USUG12000043           4571
4598    Arijit Singh  2016-08-11 00:00:00  INY091600067           4591
4599       Arcï¿½ï¿½  2017-11-04 00:00:00  USB271700107           4593

      Track Score  Spotify Streams  Spotify Playlist Count  \
0           725.4     3.904709e+08                 30716.0
1           545.9     3.237039e+08                 28113.0
2           538.4     6.013093e+08                 54331.0
3           444.9     2.031281e+09                269802.0
4           423.3     1.070349e+08                  7223.0
...           ...              ...                     ...
4595         19.4     3.050500e+08                 65770.0
4596         19.4     5.228236e+07                  4602.0
4597         19.4     1.899727e+08                 72066.0
4598         19.4     1.454670e+08                 14037.0
4599         19.4     2.557407e+08                 32138.0

      Spotify Playlist Reach  ...  SiriusXM Spins  Deezer Playlist Count  \
0                196631588.0  ...           684.0                   62.0
1                174597137.0  ...             3.0                   67.0
2                211607669.0  ...           536.0                  136.0
3                136569078.0  ...          2182.0                  264.0
4                151469874.0  ...             1.0                   82.0
...                      ...  ...             ...                    ...
4595               5103054.0  ...             NaN                    2.0
4596               1449767.0  ...             NaN                    1.0
4597               6704802.0  ...             NaN                    1.0
4598               7387064.0  ...             NaN                    NaN
4599              14066526.0  ...             NaN                    4.0

      Deezer Playlist Reach  Amazon Playlist Count  Pandora Streams  \
0                17598718.0                  114.0       18004655.0
1                10422430.0                  111.0        7780028.0
2                36321847.0                  172.0        5022621.0
3                24684248.0                  210.0      190260277.0
4                17660624.0                  105.0        4493884.0
...                     ...                    ...              ...
4595                14217.0                    NaN       20104066.0
4596                  927.0                    NaN              NaN
4597                   74.0                    6.0       84426740.0
4598                    NaN                    7.0        6817840.0
4599               127479.0                    4.0       69006739.0

      Pandora Track Stations  Soundcloud Streams  Shazam Counts  \
0                    22931.0           4818457.0      2669262.0
1                    28444.0           6623075.0      1118279.0
2                     5639.0           7208651.0      5285340.0
3                   203384.0                 NaN     11822942.0
4                     7006.0            207179.0       457017.0
...                      ...                 ...            ...
4595                 13184.0          50633006.0       656337.0
4596                     NaN                 NaN       193590.0
4597                 28999.0                 NaN      1135998.0
4598                     NaN                 NaN       448292.0
4599                 11320.0                 NaN       767006.0

      TIDAL Popularity  Explicit Track
0                  NaN               0
1                  NaN               1
2                  NaN               0
3                  NaN               0
4                  NaN               1
...                ...             ...
4595               NaN               1
4596               NaN               0
4597               NaN               1
4598               NaN               0
4599               NaN               1

[4600 rows x 29 columns]

In [36]:
print(ed.head())

                        Track                    Album Name          Artist  \
0         MILLION DOLLAR BABY  Million Dollar Baby - Single   Tommy Richman
1                 Not Like Us                   Not Like Us  Kendrick Lamar
2  i like the way you kiss me    I like the way you kiss me         Artemas
3                     Flowers              Flowers - Single     Miley Cyrus
4                     Houdini                       Houdini          Eminem

          Release Date          ISRC  All Time Rank  Track Score  \
0            4/26/2024  QM24S2402528              1        725.4
1  2024-04-05 00:00:00  USUG12400910              2        545.9
2            3/19/2024  QZJ842400387              3        538.4
3  2023-12-01 00:00:00  USSM12209777              4        444.9
4            5/31/2024  USUG12403398              5        423.3

   Spotify Streams  Spotify Playlist Count  Spotify Playlist Reach  ...  \
0     3.904709e+08                 30716.0             196631588.0  ...
1     3.237039e+08                 28113.0             174597137.0  ...
2     6.013093e+08                 54331.0             211607669.0  ...
3     2.031281e+09                269802.0             136569078.0  ...
4     1.070349e+08                  7223.0             151469874.0  ...

   SiriusXM Spins  Deezer Playlist Count  Deezer Playlist Reach  \
0           684.0                   62.0             17598718.0
1             3.0                   67.0             10422430.0
2           536.0                  136.0             36321847.0
3          2182.0                  264.0             24684248.0
4             1.0                   82.0             17660624.0

   Amazon Playlist Count  Pandora Streams  Pandora Track Stations  \
0                  114.0       18004655.0                 22931.0
1                  111.0        7780028.0                 28444.0
2                  172.0        5022621.0                  5639.0
3                  210.0      190260277.0                203384.0
4                  105.0        4493884.0                  7006.0

   Soundcloud Streams  Shazam Counts  TIDAL Popularity  Explicit Track
0           4818457.0      2669262.0               NaN               0
1           6623075.0      1118279.0               NaN               1
2           7208651.0      5285340.0               NaN               0
3                 NaN     11822942.0               NaN               0
4            207179.0       457017.0               NaN               1

[5 rows x 29 columns]

In [37]:
print(ed.tail())

                                Track                        Album Name  \
4595                For the Last Time                 For the Last Time
4596                 Dil Meri Na Sune  Dil Meri Na Sune (From "Genius")
4597            Grace (feat. 42 Dugg)                           My Turn
4598              Nashe Si Chadh Gayi             November Top 10 Songs
4599  Me Acostumbre (feat. Bad Bunny)   Me Acostumbre (feat. Bad Bunny)

            Artist         Release Date          ISRC  All Time Rank  \
4595   $uicideboy$  2017-05-09 00:00:00  QM8DG1703420           4585
4596    Atif Aslam            7/27/2018  INT101800122           4575
4597      Lil Baby            2/28/2020  USUG12000043           4571
4598  Arijit Singh  2016-08-11 00:00:00  INY091600067           4591
4599     Arcï¿½ï¿½  2017-11-04 00:00:00  USB271700107           4593

      Track Score  Spotify Streams  Spotify Playlist Count  \
4595         19.4      305049963.0                 65770.0
4596         19.4       52282360.0                  4602.0
4597         19.4      189972685.0                 72066.0
4598         19.4      145467020.0                 14037.0
4599         19.4      255740653.0                 32138.0

      Spotify Playlist Reach  ...  SiriusXM Spins  Deezer Playlist Count  \
4595               5103054.0  ...             NaN                    2.0
4596               1449767.0  ...             NaN                    1.0
4597               6704802.0  ...             NaN                    1.0
4598               7387064.0  ...             NaN                    NaN
4599              14066526.0  ...             NaN                    4.0

      Deezer Playlist Reach  Amazon Playlist Count  Pandora Streams  \
4595                14217.0                    NaN       20104066.0
4596                  927.0                    NaN              NaN
4597                   74.0                    6.0       84426740.0
4598                    NaN                    7.0        6817840.0
4599               127479.0                    4.0       69006739.0

      Pandora Track Stations  Soundcloud Streams  Shazam Counts  \
4595                 13184.0          50633006.0       656337.0
4596                     NaN                 NaN       193590.0
4597                 28999.0                 NaN      1135998.0
4598                     NaN                 NaN       448292.0
4599                 11320.0                 NaN       767006.0

      TIDAL Popularity  Explicit Track
4595               NaN               1
4596               NaN               0
4597               NaN               1
4598               NaN               0
4599               NaN               1

[5 rows x 29 columns]

### Indexing

In [38]:
dframe=pd.read_csv("C:\\Users\\DELL\\OneDrive\\Desktop\\PdLearn.csv")
print(dframe)

  Student  rollno  Marks
0      s1     120     90
1      s2     121     84
2      s3     122     95
3      s4     123     75
4      s5     124     89
5      s6     125     78
6      s7     126     56
7      s8     127     86
8      s9     128     86
9     s10     129     99

In [48]:
print(dframe["Marks"])

0    90
1    84
2    95
3    75
4    89
5    78
6    56
7    86
8    86
9    99
Name: Marks, dtype: int64

In [49]:
dframe=pd.read_csv("C:\\Users\\DELL\\OneDrive\\Desktop\\PdLearn.csv",index_col='Student')
print(dframe)

         rollno  Marks
Student
s1          120     90
s2          121     84
s3          122     95
s4          123     75
s5          124     89
s6          125     78
s7          126     56
s8          127     86
s9          128     86
s10         129     99

In [50]:
print(dframe["rollno"])

Student
s1     120
s2     121
s3     122
s4     123
s5     124
s6     125
s7     126
s8     127
s9     128
s10    129
Name: rollno, dtype: int64

In [57]:
# Retrive the details of single Row: --loc[]
print(dframe.loc['s2'])

rollno    121
Marks      84
Name: s2, dtype: int64

In [59]:
# Retrive the details of rows and cols using position : --iloc[]
print(dframe.iloc[3])

rollno    123
Marks      75
Name: s4, dtype: int64