In [2]:
from datetime import date
print(date.today())

2024-06-19

In [4]:
import numpy as np 
import pandas as pd

### Basic data structures in pandas
Pandas provides two types of classes for handling data:

Series: a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.

DataFrame: a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

In [8]:
s=pd.Series([1,2,3,4,5,np.NaN,6])
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
dtype: float64

In [11]:
dates= pd.date_range("20240619",periods=6)
print(dates)

DatetimeIndex(['2024-06-19', '2024-06-20', '2024-06-21', '2024-06-22',
               '2024-06-23', '2024-06-24'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [18]:
print(df)

                   A         B         C         D
2024-06-19  0.350148 -0.499760 -0.346041  0.925568
2024-06-20  0.342443  0.278519  1.145670 -0.643750
2024-06-21 -1.888836  0.286179 -1.995846 -0.263313
2024-06-22  0.898926  1.150242  1.407921  0.218522
2024-06-23 -0.096270 -0.296235  0.087252 -0.706242
2024-06-24  1.029155  0.665790 -1.186358  0.253723

In [21]:
s=pd.Series(np.random.randn(5),index=[1,2,3,4,5])
print(s)

1    0.449890
2    1.946886
3   -3.617834
4   -1.234227
5   -0.534875
dtype: float64

In [4]:
data={
    'student':['s1','s2','s3','s4','s5'],
    'rank':[2,4,5,3,1],
    'marks':[92,73,64,74,96]
}
df= pd.DataFrame(data)
print(df)

  student  rank  marks
0      s1     2     92
1      s2     4     73
2      s3     5     64
3      s4     3     74
4      s5     1     96

In [5]:
df= pd.DataFrame(data,index=['a','b','c','d','e'])
df

  student  rank  marks
a      s1     2     92
b      s2     4     73
c      s3     5     64
d      s4     3     74
e      s5     1     96

In [11]:
'''Accessing the values in dataframe using loc'''

'Accessing the values in dataframe using loc'

In [8]:
df.loc['a','student']

's1'

In [9]:
df.loc['a','rank']

2

In [10]:
df.loc['a','marks']

92

In [13]:
# Accessing rows and colums using integer positions
df.iloc[[1,2]]

  student  rank  marks
b      s2     4     73
c      s3     5     64

In [16]:
for col in df:
    print(col)

student
rank
marks

### Attributes and Methods

In [22]:
# Attributes and Methods
# To print the data types
print("datatypes:\n",df.dtypes)

datatypes:
 student    object
rank        int64
marks       int64
dtype: object

In [23]:
# To get the dimensions
print(df.ndim)

2

In [25]:
# size attribute
print(df.size)
# it gives the total no of elements in the dataframe

15

In [26]:
# shape of dataframe
print(df.shape)

(5, 3)

In [27]:
# 5 --rows
# 3 --columns

In [28]:
# index
print(df.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [29]:
# to Transpose the data frame 
print(df.T)

          a   b   c   d   e
student  s1  s2  s3  s4  s5
rank      2   4   5   3   1
marks    92  73  64  74  96

In [31]:
print(df.T.shape)

(3, 5)

In [32]:
# head(n) --displays first n rows , default n=5
print(df.head(3))

  student  rank  marks
a      s1     2     92
b      s2     4     73
c      s3     5     64

In [33]:
# tail(n)
print(df.tail())

  student  rank  marks
a      s1     2     92
b      s2     4     73
c      s3     5     64
d      s4     3     74
e      s5     1     96

In [34]:
print(df.tail(3))

  student  rank  marks
c      s3     5     64
d      s4     3     74
e      s5     1     96

In [36]:
# join
d1={
    'name':['a','b','c','d'],
    'age':[12,23,34,42]
}
d2={
    'gender':['m','f','m','f'],
    'state':['ap','up','mp','uk']
}
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
print(df1)
print(df2)

  name  age
0    a   12
1    b   23
2    c   34
3    d   42
  gender state
0      m    ap
1      f    up
2      m    mp
3      f    uk

In [38]:
print(df1.join(df2))

  name  age gender state
0    a   12      m    ap
1    b   23      f    up
2    c   34      m    mp
3    d   42      f    uk

In [44]:
# concatenate 
print(pd.concat((df1,df2)))

  name   age gender state
0    a  12.0    NaN   NaN
1    b  23.0    NaN   NaN
2    c  34.0    NaN   NaN
3    d  42.0    NaN   NaN
0  NaN   NaN      m    ap
1  NaN   NaN      f    up
2  NaN   NaN      m    mp
3  NaN   NaN      f    uk

In [46]:
print(pd.concat([df2,df1]))

  gender state name   age
0      m    ap  NaN   NaN
1      f    up  NaN   NaN
2      m    mp  NaN   NaN
3      f    uk  NaN   NaN
0    NaN   NaN    a  12.0
1    NaN   NaN    b  23.0
2    NaN   NaN    c  34.0
3    NaN   NaN    d  42.0

In [47]:
'''Series --one dimensional labled array'''

'Series --one dimensional labled array'

In [5]:
data=[1,2,3,4,5]
s=pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [49]:
# Accessing value from series
print(s[0])
print(s[1])

1
2

In [50]:
s1=pd.Series(data,index=['a','b','c','d','e'],dtype=int)
print(s1)

a    1
b    2
c    3
d    4
e    5
dtype: int32

In [52]:
print(s1['a'])

1

In [1]:
'''Series Attributes'''

'Series Attributes'

In [6]:
# datatype
print(s.dtype)

int64

In [7]:
# dimensions
print(s.ndim)

1

In [9]:
# TOTAL elements
print(s.size)

5

In [10]:
# name --we can also give a name to series 
s=pd.Series([1,2,3,4,5],name="series5")
print(s)
print(s.name)

0    1
1    2
2    3
3    4
4    5
Name: series5, dtype: int64
series5

In [12]:
# hasNan
print(s.hasnans)

False

In [15]:
s=pd.Series([1,2,3,4,5,np.nan],name="series5")
print(s.hasnans)

True

In [17]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],name="series5")
print(s.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [18]:
# head
print(s.head())

a    1
b    2
c    3
d    4
e    5
Name: series5, dtype: int64

In [19]:
print(s.head(3))

a    1
b    2
c    3
Name: series5, dtype: int64

In [20]:
# tail
print(s.tail())

a    1
b    2
c    3
d    4
e    5
Name: series5, dtype: int64

In [21]:
print(s.tail(3))

c    3
d    4
e    5
Name: series5, dtype: int64

In [22]:
# info()

In [23]:
print(s.info())

<class 'pandas.core.series.Series'>
Index: 5 entries, a to e
Series name: series5
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 80.0+ bytes
None

In [24]:
help(s.info())

<class 'pandas.core.series.Series'>
Index: 5 entries, a to e
Series name: series5
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 80.0+ bytes
Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [32]:
# combining Series using function
s1=pd.Series([1,2,3])
s2=pd.Series([4,5,6])
def lar(a,b):
    if a>b:
        return a
    return b
print(s1.combine(s2,lar))

0    4
1    5
2    6
dtype: int64

In [34]:
# Categorial Series
c=pd.Series(['a','b','c','d'],dtype='category')
print(c)

0    a
1    b
2    c
3    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [37]:
# Categorial DataFrame
cd=pd.DataFrame({0:['a'],1:['b'],2:['c'],3:['d']},dtype='category')
print(cd)
print("\n",cd.dtypes)

   0  1  2  3
0  a  b  c  d

 0    category
1    category
2    category
3    category
dtype: object

In [45]:
# Append new Category
c=c.cat.add_categories('g')
print(c)

0    a
1    b
2    c
3    d
dtype: category
Categories (7, object): ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [49]:
c=c.cat.remove_categories('g')
print(c)

0    a
1    b
2    c
3    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']